.checkbox {
    width: 20%;
    height: 40px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
}

.edit-item-form {
    min-width: 150px;
    max-width: 100%;
    width: 100%;
}

.full-width-form-field {
    margin-top: 20px;
    width: 100%;
}

#headline {
    font-weight: 500; 
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.info-mat-card-content {
    font-weight: 400; 
    font-size: 16px;
}

.inline-info {
    display: inline-block;
    width: 33.3%
}

.inline-div {
    margin-top: 10px;
    display: inline-block;
    width: 50%;
}

.half-inline-div {
    margin-top: 10px;
    margin-left: 5%;
    display: inline-block;
    width: 25%;
}

.left-side-form-field {
    width: 100%;
}

.middle-form-field {
    width: 25%;
}

.inline {
    display: inline;
}

.material-green { 
    color: rgba(0, 200, 80, 0.80); 
}
