<mat-card fxLayout="column" fxLayoutGap="20px" id="info-mat-card">
    <div id="headline">Artikel-Daten <p class="inline" *ngIf="item?.name && item?.name !== ''">von "{{item?.name }}"</p></div>
    <div class="info-mat-card-content">
        <div class="inline-info">ID: {{ item?.id }}</div>
        <div class="inline-info">TagID: {{ item?.tagId }}</div>
        <div class="inline-info">Erstellt: {{ item?.addDate  | normalDate }}</div>
    </div>
    <div class="info-mat-card-content">
        <div class="inline-info">
            <label *ngIf="item?.numberExisting > 1 && item?.numberRent > 0 && !item?.rent" matPrefix>Verliehen: {{ item?.numberRent }}/{{ item?.numberExisting }}</label>
            <label *ngIf="item?.rent">Verliehen: </label><mat-icon class="material-green" *ngIf="item?.rent" matPrefix>check</mat-icon>
        </div>
        <div class="inline-info"></div>
        <div class="inline-info">Entfernt: {{ item?.removeDate }}</div>
    </div>
</mat-card>
<mat-dialog-content class="mat-typography">
    <form class="edit-item-form" [formGroup]="editItemForm">

        <div class="inline-div">
            <mat-form-field appearance="outline" class="left-side-form-field">
                <mat-label>Name</mat-label>
                <input matInput formControlName="nameFormControl" type="text" />
                <mat-error *ngIf="name.errors?.required">Der Name ist ein Pflichtfeld</mat-error>
                <mat-error *ngIf="name.errors?.minlength">Der Name muss mindestens 2 Zeichen enthalten!</mat-error>
                <mat-error *ngIf="name.errors?.maxlength">Der Name darf maximal 50 Zeichen enthalten!</mat-error>
                <mat-error *ngIf="name.errors?.pattern">Der Name darf keine Klammern oder Semicolons enthalten!</mat-error>
            </mat-form-field>
        </div>

        <div class="half-inline-div">
            <mat-form-field appearance="outline" class="small-form-field">
                <mat-label>Anzahl</mat-label>
                <input matInput formControlName="numberExistingFormControl" type="number" />
                <mat-error *ngIf="numberExisting.errors?.max">Es können maximal 255 Einheiten eines Artikels existieren!</mat-error>
                <mat-error *ngIf="numberExisting.errors?.min && numberExisting.value >= item.numberRent">Es muss mindestens eine Einheit eines Artikels existieren!</mat-error>
                <mat-error *ngIf="numberExisting.errors?.min && numberExisting.value < item.numberRent">Es dürfen nicht weniger Artikel existieren als gerade ausgeliehen sind!</mat-error>
            </mat-form-field>
        </div>

        <div class="checkbox">
            <mat-checkbox [checked]="blocked.value" formControlName="blockedFormControl">
                Blockiert
            </mat-checkbox>
        </div>

        <mat-form-field appearance="outline" class="full-width-form-field">
            <mat-label>Beschreibung</mat-label>
            <input matInput formControlName="descriptionFormControl" type="text" />
            <mat-error *ngIf="description.errors?.maxlength">Die Beschreibung darf maximal 250 Zeichen enthalten!</mat-error>
            <mat-error *ngIf="description.errors?.pattern">Die Beschreibung darf keine Klammern oder Semicolons enthalten!</mat-error>
        </mat-form-field>

    </form>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions align="end">
    <button mat-raised-button color="secondary" mat-dialog-close>Abbrechen</button>
    <button mat-raised-button color="primary" (click)="changeData()" [disabled]="this.editItemForm.pristine || this.editItemForm.invalid">
        Speichern
    </button>
</mat-dialog-actions>
