mat-sidenav-container {
    width: 100%;
}

mat-toolbar {
    min-height: 52px;
    max-height: 52px;
}

.distanceFromTop {
    margin-top: 4px;
}

#toolbar-title {
    float:left;
    margin-top: 5px;
}

.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 300px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.toolbar-container {
    width: 100%;
}

.app-container {
    height: 100%;
}

.uni-hildesheim-logo {
    float:left;
    width: 30px;
    vertical-align: middle;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 10px;
}

.sidenav-icon {
    font-size: 20px;
    margin-right: 25px;
    margin-left: 5px;
}

.mat-nav-list-caption {
    font-size: 20px;
    font-weight: 500;
    margin-left: 15px;
    margin-top: 12px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.mat-nav-list-sub-caption {
    font-size: 15px;
    font-weight: 500;
    margin-left: 15px;
    margin-top: 10px;
    text-transform: uppercase;
}

.mat-list-item {
    font-size: 18px;
}

.menu-icon {
    font-size: 30px;
    float: left;
    margin-right: 15px;
    margin-top: 10px;
}

.menu-text {
    margin-top: 15px;
}

#new-users-headline {
    font-size: 16px;
    font-weight: 500;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.material-red { 
    color: rgba(220, 0, 0, 0.80); 
}

.fat {
    font-weight: 500;
}
