<div fxLayout="row">
    <div id="headline">Ausleih-Historie von "{{ item.name }}"</div>
        <div fxFlex="10" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px"></div>
        <div fxFlex="11">
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" />
            </mat-form-field>
        </div>
    </div>
<div mat-dialog-content>
    <div class="mat-elevation-z2">
        <table mat-table [dataSource]="rents" matSort #sortRents="matSort">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td mat-cell class="mousePointer" *matCellDef="let row">
                    {{ row.id }}
                    <mat-icon *ngIf="!row.id" class="material-green" [matTooltip]="'Gerade aktiv'" matTooltipPosition="above">play_circle</mat-icon>
                </td>
            </ng-container>

            <ng-container matColumnDef="user">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nutzer</th>
                <td mat-cell *matCellDef="let row">{{ row.user }}</td>
            </ng-container>

            <ng-container matColumnDef="rentDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Ausleihe</th>
                <td mat-cell *matCellDef="let row">{{ row.rentDate | normalDate }}</td>
            </ng-container>

            <ng-container matColumnDef="returnDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Rückgabe</th>
                <td mat-cell *matCellDef="let row">{{ row.returnDate | normalDate }}</td>
            </ng-container>

            <ng-container matColumnDef="extensions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Verlängerungen</th>
                <td mat-cell *matCellDef="let row">{{ row.extensions }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    <mat-paginator [pageSizeOptions]="[8, 25, 50, 100]"></mat-paginator>
  </div>
</div>

<div mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="primary">Schließen</button>
</div>