#headline {
    font-weight: 500; 
    font-size: 30px;
    margin-top: 10px;
}

table {
    width: 100%;
    margin-top: 20px;
}

mat-paginator {
    margin-bottom: 20px;
}

.mat-column-id {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 5%;
    width: 5%;
}

.mat-column-user {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 5%;
    width: 12%;
}

.mat-column-rentDate {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 5%;
    width: 15%;
}

.mat-column-returnDate {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 5%;
    width: 15%;
}

.mat-column-extensions {
    width: 5%;
    text-align: center;
}

.material-green { 
    color: rgba(0, 200, 80, 0.80); 
}
  
.material-red { 
    color: rgba(220, 0, 0, 0.80); 
}
