<mat-card fxLayout="column" fxLayoutGap="20px" id="info-mat-card">
    <div id="headline">Neues IoT-Gerät registrieren</div>
</mat-card>
<mat-dialog-content class="mat-typography">
    <form class="new-device-form" [formGroup]="newDeviceForm">

        <mat-form-field appearance="outline" class="full-width-form-field">
            <mat-label>Bezeichnung</mat-label>
            <input matInput formControlName="nameFormControl" type="text" />
            <mat-error *ngIf="name.errors?.required">Die Bezeichnung ist ein Pflichtfeld</mat-error>
            <mat-error *ngIf="name.errors?.maxlength">Eine Bezeichnung darf höchstens 50 Zeichen enthalten!</mat-error>
            <mat-error *ngIf="name.errors?.pattern">Die Bezeichnung darf keine Klammern oder Semicolons enthalten!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width-form-field">
            <mat-label>Mac-Adresse</mat-label>
            <input matInput formControlName="macFormControl" type="text" />
            <mat-error *ngIf="mac.errors?.required">Die Mac-Adresse ist ein Pflichtfeld</mat-error>
            <mat-error *ngIf="mac.errors?.minlength || mac.errors?.maxlength">Eine Mac-Adresse hat genau 17 Zeichen!</mat-error>
            <mat-error *ngIf="mac.errors?.pattern">Die Mac-Adresse darf keine Klammern oder Semicolons enthalten!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width-form-field">
            <mat-label>Zugangs-Key</mat-label>
            <input matInput formControlName="keyFormControl" [type]="hidePassword? 'password' : 'text'" />
            <mat-icon matPrefix class="prefix-mat-icon">lock</mat-icon>
            <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="key.errors?.required">Der Zugangs-Key ist ein Pflichtfeld</mat-error>
            <mat-error *ngIf="key.errors?.minlength">Ein Key muss mindestens 16 Zeichen enthalten!</mat-error>
            <mat-error *ngIf="key.errors?.maxlength">Ein Key darf maximal 32 Zeichen enthalten!</mat-error>
            <mat-error *ngIf="key.errors?.pattern">Der Key darf keine Klammern oder Semicolons enthalten!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width-form-field">
            <mat-label>Zugangs-Key wiederholen</mat-label>
            <input matInput formControlName="keyAgainFormControl" [type]="hidePasswordAgain? 'password' : 'text'" />
            <mat-icon matPrefix class="prefix-mat-icon">lock</mat-icon>
            <button mat-icon-button matSuffix type="button" (click)="hidePasswordAgain = !hidePasswordAgain" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
            <mat-icon>{{ hidePasswordAgain ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="keyAgain.errors?.required">Die Zugangs-Key-Wiederholung ist ein Pflichtfeld</mat-error>
            <mat-error *ngIf="keyAgain.errors?.minlength">Ein Key muss mindestens 16 Zeichen enthalten!</mat-error>
            <mat-error *ngIf="keyAgain.errors?.maxlength">Ein Key darf maximal 32 Zeichen enthalten!</mat-error>
            <mat-error *ngIf="keyAgain.errors?.pattern">Der Key darf keine Klammern oder Semicolons enthalten!</mat-error>
        </mat-form-field>
        <div *ngIf="newDeviceForm.errors?.keysNotEqual && (newDeviceForm.touched || newDeviceForm.dirty)" class="keys-not-equal">
            Die Keys stimmen nicht überein!
        </div>

    </form>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions align="end">
    <button mat-raised-button color="secondary" mat-dialog-close>Abbrechen</button>
    <button mat-raised-button color="primary" (click)="changeData()" [disabled]="this.newDeviceForm.pristine || this.newDeviceForm.invalid">
        Speichern
    </button>
</mat-dialog-actions>
