.checkbox {
    width: 50%;
    height: 40px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
}

.new-device-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.full-width-form-field {
    margin-top: 20px;
    width: 100%;
}

#headline {
    font-weight: 500; 
    font-size: 30px;
    margin-top: 10px;
}

.info-mat-card-content {
    font-weight: 400; 
    font-size: 16px;
}

.inline-info {
    display: inline-block;
    width: 33.3%
}

.inline-div {
    margin-top: 10px;
    display: inline-block;
    width: 50%;
}

.left-side-form-field {
    width: 100%;
}

.keys-not-equal {
    font-size: 16px;
    font-weight: 500;
    color: red;
    margin-bottom: 20px;
    text-align: center;
}
