<h2 mat-dialog-title>{{ headline }}</h2>
<mat-dialog-content class="mat-typography">
     {{ text }}
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="secondary" mat-dialog-close>{{ cancelButtonText }}</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true">{{ okButtonText }}</button>
</mat-dialog-actions>