mat-card {
  max-width: 350px;
  max-height: 560px;
  margin: 0;
  padding: 0;
}

mat-progress-bar {
  border-radius: 25px 25px 0 0;
}

#medieninfo-title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;
}

.login-container {
  height: 100%;
  background-color: rgb(249, 249, 249);
}

.login-card {
  padding: 16px;
  margin: 5px;
}

#uni-hildesheim-logo {
  width: 150px;
  display: block;
  margin: auto;
  padding-bottom: 10px;
}

.login-form-field {
  width: 90%;
  display: block;
  margin: auto;
  font-size: 16px;
  padding-bottom: 10px;
}

.remember-username-checkbox {
  width: 90%;
  display: block;
  margin: auto;
  padding-bottom: 15px;
  padding-top: 10px;
}

.login-button {
  width: 90%;
  display: block;
  margin: auto;
}

.sub-button {
  width: 90%;
  display: block;
  margin: 10px auto auto auto;
}

.prefix-mat-icon {
  margin-right: 5px;
}
