<div class="login-container" fxLayout="row" fxLayoutAlign="center center">
  <mat-card fxFlex>
    <mat-progress-bar [value]="100" [color]="'warn'"></mat-progress-bar>
    <div class="login-card">
      <img id="uni-hildesheim-logo" src="../../../assets/logos/uni_hildesheim_logo.png" />
      <p id="medieninfo-title">Medieninformatik</p>
      <form [formGroup]="loginForm" (submit)="login()">
        <mat-form-field class="login-form-field" [appearance]="'standard'">
          <mat-label>Benutzername</mat-label>
          <input matInput name="username" formControlName="usernameFormControl" autocomplete="off" [errorStateMatcher]="errorStateMatcher" required />
          <mat-icon matPrefix class="prefix-mat-icon">person</mat-icon>
          <mat-error *ngIf="username.errors?.minlength">Der Benutzername muss mindestens 2 Zeichen lang sein</mat-error>
          <mat-error *ngIf="username.errors?.maxlength">Der Benutzername darf höchstens 20 Zeichen lang sein</mat-error>
          <mat-error *ngIf="username.errors?.required">Benutzername ist ein Pflichtpfeld</mat-error>
        </mat-form-field>
        <mat-form-field class="login-form-field" [appearance]="'standard'">
          <mat-label>Passwort</mat-label>
          <input
            matInput
            name="password"
            formControlName="passwordFormControl"
            autocomplete="off"
            [type]="this.hidePassword ? 'password' : 'text'"
            [errorStateMatcher]="errorStateMatcher"
            required
          />
          <mat-icon matPrefix class="prefix-mat-icon">lock</mat-icon>
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="this.hidePassword = !this.hidePassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="this.hidePassword"
          >
            <mat-icon>{{ this.hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="password.errors?.minlength">Das Passwort muss mindestens 8 Zeichen lang sein</mat-error>
          <mat-error *ngIf="password.errors?.maxlength">Das Passwort darf höchstens 30 Zeichen lang sein</mat-error>
          <mat-error *ngIf="password.errors?.required">Passwort ist ein Pflichtpfeld</mat-error>
        </mat-form-field>
        <mat-checkbox class="remember-username-checkbox" formControlName="rememberUsernameFormControl" [(ngModel)]="this.rememberUsername"
          >Diesen Benutzernamen merken</mat-checkbox
        >
        <button mat-raised-button class="login-button" [color]="'primary'" type="submit" [disabled]="this.loginForm.invalid">Anmelden</button>
        <div class="routing-buttons" fxLayout="row">
          <a fxFlex="50" mat-button type="button" class="sub-button" (click)="openForgottenPasswordDialog()" >Passwort vergessen?
          </a>
        </div>
      </form>
    </div>
  </mat-card>
</div>
