<h2 mat-dialog-title>Passwort vergessen</h2>
<mat-dialog-content class="mat-typography">
     Bitte wenden Sie sich an einen anderen Administrator.
     Dieser wird Ihnen ein neues Passwort zuweisen.
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" mat-dialog-close>OK</button>
</mat-dialog-actions>
