<mat-card fxLayout="column" fxLayoutGap="20px" id="info-mat-card">
    <div id="headline">Nutzerdaten von {{user?.firstName}} {{user?.lastName}}</div>
    <div id="info-mat-card-content">
        <div class="inline-info">ID: {{ user?.id }}</div>
        <div class="inline-info">CardID: {{ user?.cardId }}</div>
        <div class="inline-info">Online: {{ user?.lastSeen | normalDate }}</div>
    </div>
</mat-card>
<mat-dialog-content class="mat-typography">
    <form class="edit-user-form" [formGroup]="editUserForm">

        <mat-form-field appearance="outline" class="left-side-form-field">
            <mat-label>Vorname</mat-label>
            <input matInput formControlName="firstNameFormControl" type="text" />
            <mat-error *ngIf="firstName.errors?.required">Der Vorname ist ein Pflichtfeld!</mat-error>
            <mat-error *ngIf="firstName.errors?.minlength">Der Vorname muss mindestens 2 Zeichen enthalten!</mat-error>
            <mat-error *ngIf="firstName.errors?.maxlength">Der Vorname darf höchstens 50 Zeichen enthalten!</mat-error>
            <mat-error *ngIf="firstName.errors?.pattern">Der Vorname darf nur Buchstaben und Bindestriche enthalten!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="right-side-form-field">
            <mat-label>Nachname</mat-label>
            <input matInput formControlName="lastNameFormControl" type="text" />
            <mat-error *ngIf="lastName.errors?.required">Der Nachname ist ein Pflichtfeld!</mat-error>
            <mat-error *ngIf="lastName.errors?.minlength">Der Nachname muss mindestens 2 Zeichen enthalten!</mat-error>
            <mat-error *ngIf="lastName.errors?.maxlength">Der Nachname darf höchstens 50 Zeichen enthalten!</mat-error>
            <mat-error *ngIf="lastName.errors?.pattern">Der Nachname darf nur Buchstaben und Bindestriche enthalten!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="left-side-form-field">
            <mat-label>Rolle</mat-label>
            <mat-select formControlName="roleFormControl">
                <mat-option *ngFor="let role of roles" [value]="role">
                    {{ role }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="right-side-form-field">
            <mat-label>Matrikel-Nr.</mat-label>
            <input matInput formControlName="matrikelFormControl" type="text" />
            <mat-error *ngIf="matrikel.errors?.required">Die Matrikel-Nr. ist ein Pflichtfeld!</mat-error>
            <mat-error *ngIf="matrikel.errors?.minlength">Die Matrikel-Nr. muss mindestens 6 Zahlen enthalten!</mat-error>
            <mat-error *ngIf="matrikel.errors?.maxlength">Die Matrikel-Nr. darf höchstens 8 Zahlen enthalten!</mat-error>
            <mat-error *ngIf="matrikel.errors?.pattern">Die Matrikel-Nr. darf nur Zahlen enthalten!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width-form-field">
            <mat-label>E-Mail</mat-label>
            <input matInput formControlName="mailFormControl" type="text" />
            <mat-error *ngIf="mail.errors?.required">Die E-Mail ist ein Pflichtfeld!</mat-error>
            <mat-error *ngIf="mail.errors?.email">Dies entspricht nicht der Form einer E-Mail-Adresse!</mat-error>
            <mat-error *ngIf="mail.errors?.maxlength">Die E-Mail darf höchstens 80 Zeichen enthalten!</mat-error>
            <mat-error *ngIf="mail.errors?.pattern">Bitte keine Klammern oder Semicolons verwenden!</mat-error>
        </mat-form-field>
        
        <div class="checkbox">
            <mat-checkbox [checked]="approved.value" formControlName="approvedFormControl">
                Freigegeben
            </mat-checkbox>
        </div>

        <div class="checkbox">
            <mat-checkbox [checked]="admin.value" formControlName="adminFormControl" (change)="enableAdminFields($event.checked)">
                Admin
            </mat-checkbox>
        </div>
    </form>

    <mat-divider></mat-divider> 
    
    <form class="edit-user-form" [formGroup]="adminUserForm">
        <mat-form-field appearance="outline" class="left-side-form-field">
            <mat-label>Admin-Nutzername</mat-label>
            <input matInput formControlName="usernameFormControl" type="text"  />
            <mat-error *ngIf="username.errors?.required">Der Nutzername ist ein Pflichtfeld </mat-error>
            <mat-error *ngIf="username.errors?.minlength">Der Nutzername muss mindestens 8 Zeichen enthalten!</mat-error>
            <mat-error *ngIf="username.errors?.maxlength">Der Nutzername darf höchstens 50 Zeichen enthalten!</mat-error>
            <mat-error *ngIf="username.errors?.pattern">Bitte keine Klammern oder Semicolons verwenden!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="left-side-form-field">
            <mat-label>Admin-Passwort</mat-label>
            <input matInput formControlName="passwordFormControl" autocomplete="off" [type]="this.hidePassword ? 'password' : 'text'" />
            <mat-icon matPrefix class="prefix-mat-icon">lock</mat-icon>
            <button mat-icon-button matSuffix type="button" (click)="this.hidePassword = !this.hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="this.hidePassword">
                <mat-icon>{{ this.hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="password.errors?.required">Das Passwort ist ein Pflichtfeld </mat-error>
            <mat-error *ngIf="password.errors?.minlength">Das Passwort muss mindestens 8 Zeichen enthalten!</mat-error>
            <mat-error *ngIf="password.errors?.maxlength">Das Passwort darf höchstens 32 Zeichen enthalten!</mat-error>
            <mat-error *ngIf="password.errors?.pattern">Bitte keine Klammern oder Semicolons verwenden!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="right-side-form-field">
            <mat-label>Admin-Passwort wiederholen</mat-label>
            <input matInput formControlName="passwordAgainFormControl" autocomplete="off" [type]="this.hidePassword ? 'password' : 'text'" /> 
            <mat-icon matPrefix class="prefix-mat-icon">lock</mat-icon>
            <mat-error *ngIf="passwordAgain.errors?.required">Das Passwort ist ein Pflichtfeld </mat-error>
            <mat-error *ngIf="passwordAgain.errors?.minlength">Das Passwort muss mindestens 8 Zeichen enthalten!</mat-error>
            <mat-error *ngIf="passwordAgain.errors?.maxlength">Das Passwort darf höchstens 32 Zeichen enthalten!</mat-error>
            <mat-error *ngIf="passwordAgain.errors?.pattern">Bitte keine Klammern oder Semicolons verwenden!</mat-error>
        </mat-form-field>
        <div *ngIf="adminUserForm.errors?.passwordsNotEqual && (adminUserForm.touched || adminUserForm.dirty)" class="passwords-not-equal">
            Die Passwörter stimmen nicht überein!
        </div>
        <div *ngIf="adminUserForm.errors?.adminDataValidationError && (adminUserForm.touched || adminUserForm.dirty)" class="passwords-not-equal">
            Die Administratordaten müssen ausgefüllt werden!
        </div>

    </form>

</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions align="end">
    <button mat-raised-button color="secondary" mat-dialog-close>Abbrechen</button>
    <button mat-raised-button color="primary" (click)="changeData()" [disabled]="(this.editUserForm.pristine && this.adminUserForm.pristine) || (this.editUserForm.invalid && this.adminUserForm.invalid)">
        Speichern
    </button>
</mat-dialog-actions>
