.checkbox {
    width: 50%;
    height: 40px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
}

.edit-user-form {
    min-width: 150px;
    max-width: 100%;
    width: 100%;
}

.full-width-form-field {
    margin-top: 20px;
    width: 100%;
}

#headline {
    font-weight: 500; 
    font-size: 30px;
    margin-top: 10px;
}

#info-mat-card-content {
    font-weight: 400; 
    font-size: 16px;
}

.inline-info {
    display: inline-block;
    width: 33.3%
}

.left-side-form-field {
    margin-top: 10px;
    margin-right: 5%;
    width: 47.5%;
}

.right-side-form-field {
    margin-top: 10px;
    width: 47.5%;
}

.passwords-not-equal {
    font-size: 16px;
    font-weight: 500;
    color: red;
    margin-bottom: 20px;
    text-align: center;
}
