<div fxLayout="row">
    <div id="headline">Nutzer</div>
        <div fxFlex="82" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px"></div>
        <div fxFlex="12">
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" />
            </mat-form-field>
        </div>
    </div>
<div mat-dialog-content>
    <div class="mat-elevation-z2">
        <table mat-table [dataSource]="users" matSort #sortUsers="matSort">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td mat-cell class="mousePointer" *matCellDef="let row">{{ row.id }}</td>
            </ng-container>

            <ng-container matColumnDef="cardId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>KartenID</th>
                <td mat-cell *matCellDef="let row">{{ row.cardId }}</td>
            </ng-container>

            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Vorname</th>
                <td mat-cell *matCellDef="let row">{{ row.firstName }}</td>
            </ng-container>

            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nachname</th>
                <td mat-cell *matCellDef="let row">{{ row.lastName }}</td>
            </ng-container>

            <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Rolle</th>
                <td mat-cell *matCellDef="let row">{{ row.role }}</td>
            </ng-container>

            <ng-container matColumnDef="matrikel">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Matrikelnr.</th>
                <td mat-cell *matCellDef="let row">{{ row.matrikel }}</td>
            </ng-container>

            <ng-container matColumnDef="admin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Admin</th>
                <td mat-cell *matCellDef="let row">
                    <mat-icon class="material-green" *ngIf="row.admin" matPrefix>admin_panel_settings</mat-icon>
                </td>
            </ng-container>

            <ng-container matColumnDef="approved">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Freigabe</th>
                <td mat-cell *matCellDef="let row">
                    <mat-icon class="material-green" *ngIf="row.approved" matPrefix>how_to_reg</mat-icon>
                    <mat-icon class="material-red" *ngIf="!row.approved" matPrefix>clear</mat-icon>
                </td>
            </ng-container>

            <ng-container matColumnDef="lastSeen">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Letzter Login</th>
                <td mat-cell *matCellDef="let row">{{ row.lastSeen | normalDate }}</td>
            </ng-container>

            <ng-container matColumnDef="mail">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Mail</th>
                <td mat-cell *matCellDef="let row">{{ row.mail }}</td>
            </ng-container>

            <ng-container matColumnDef="userHistory">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell class="menu-table-column" *matCellDef="let element; let i = index">
                    <button mat-icon-button [matTooltip]="'Historie'" matTooltipPosition="above" (click)="openUserHistoryOverview(element)">
                        <mat-icon>list_alt</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="editUser">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell class="menu-table-column" *matCellDef="let element; let i = index">
                    <button mat-icon-button [matTooltip]="'Ändern'" matTooltipPosition="above" (click)="openEditUserDialog(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="deleteUser">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell class="menu-table-column" *matCellDef="let element; let i = index">
                    <button mat-icon-button [matTooltip]="'Löschen'" matTooltipPosition="above" (click)="openDeleteUserDialog(element)">
                        <mat-icon class="material-red">delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    <mat-paginator [pageSizeOptions]="[8, 25, 50, 100]"></mat-paginator>
  </div>
</div>

<div mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="primary">Schließen</button>
</div>