#headline {
    font-weight: 500; 
    font-size: 30px;
    margin-top: 10px;
}

table {
    width: 100%;
    margin-top: 20px;
}
  
mat-paginator {
    margin-bottom: 20px;
}
  
.mousePointer {
    cursor: pointer;
}

.mat-column-id {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 8%;
    width: 8%;
}

.mat-column-cardId {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 10%;
    width: 10%;
}

.mat-column-firstName {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 10%;
    width: 10%;
}

.mat-column-lastName {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 10%;
    width: 10%;
}

.mat-column-role {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 7%;
    width: 7%;
}

.mat-column-matrikel {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 7%;
    width: 7%;
}

.mat-column-mail {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 22%;
    width: 26%;
}

.mat-column-approved {
    width: 5%;
    text-align: center;
}

.mat-column-admin {
    width: 5%;
    text-align: center;
}

.mat-column-lastSeen {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 15%;
    width: 15%;
}

.mat-column-item {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 25%;
    width: 20%;
}

.mat-column-user {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 20%;
    width: 20%;
}

.mat-column-returnDate {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 20%;
    width: 20%;
}

.mat-column-extensions {
    width: 5%;
    text-align: center;
}

.material-green { 
    color: rgba(0, 200, 80, 0.80); 
}
  
.material-red { 
    color: rgba(220, 0, 0, 0.80); 
}
