@import '~@angular/material/theming';
@import './theme/uni-hildesheim-theme.scss';
@include mat-core();
@include angular-material-theme($uni-hildesheim-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

mat-card {
  margin: 5px;
  padding: 16px;
  height: calc(100% - 43px);
}

h2 {
  margin-bottom: 10px !important;
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
