<div fxLayout="row">
    <div id="headline">Ausleihen</div>
        <div fxFlex="83" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px"></div>
        <div fxFlex="16">
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" />
            </mat-form-field>
        </div>
    </div>
<div mat-dialog-content>
    <div class="mat-elevation-z2">
        <table mat-table [dataSource]="rents" matSort #sortRents="matSort">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td mat-cell *matCellDef="let row">{{ row.id }}</td>
            </ng-container>

            <ng-container matColumnDef="item">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Artikel</th>
                <td mat-cell *matCellDef="let row">{{ row.item }}</td>
            </ng-container>

            <ng-container matColumnDef="user">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nutzer</th>
                <td mat-cell *matCellDef="let row">{{ row.user }}</td>
            </ng-container>

            <ng-container matColumnDef="rentDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Ausleihe</th>
                <td mat-cell *matCellDef="let row">{{ row.rentDate | normalDate }}</td>
            </ng-container>

            <ng-container matColumnDef="returnDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Rückgabe</th>
                <td mat-cell *matCellDef="let row">{{ row.returnDate | normalDate }}</td>
            </ng-container>

            <ng-container matColumnDef="extensions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Verlängerungen</th>
                <td mat-cell *matCellDef="let row">{{ row.extensions }}</td>
            </ng-container>

            <ng-container matColumnDef="rentDelayed">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row">
                    <mat-icon *ngIf="row.delayed" class="material-red" [matTooltip]="'Verspätet'" matTooltipPosition="above">error</mat-icon>
                </td>
            </ng-container>

            <ng-container matColumnDef="returnItem">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell class="menu-table-column" *matCellDef="let element; let i = index">
                    <button mat-icon-button [matTooltip]="'Zurückgeben'" matTooltipPosition="above" (click)="openReturnItemDialog(element.itemId, element.item)">
                        <mat-icon class="material-green">reply</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="extendRent">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell class="menu-table-column" *matCellDef="let element; let i = index">
                    <button mat-icon-button [matTooltip]="'Verlängern'" matTooltipPosition="above" (click)="openExtendRentDialog(element.itemId, element.id, element.item)">
                        <mat-icon>update</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    <mat-paginator [pageSizeOptions]="[8, 25, 50, 100]"></mat-paginator>
  </div>
</div>

<div mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="primary">Schließen</button>
</div>