<div id="headline">Details von Ausleihe {{ rent.id }}</div>
<div mat-dialog-content>
    <mat-card fxLayout="column" fxLayoutGap="20px"  id="info-card">

        <div fxFlex="100" fxLayout="row">
            <p fxFlex="40">ID:</p>
            <p fxFlex="60">{{ rent.id }}</p>
        </div>

        <div fxFlex="100" fxLayout="row">
            <p fxFlex="40">Nutzer:</p>
            <p fxFlex="60">{{ rent.user }}</p>
        </div>

        <div fxFlex="100" fxLayout="row">
            <p fxFlex="40">Artikel-ID:</p>
            <p fxFlex="60">{{ rent.itemId }}</p>
        </div>

        <div fxFlex="100" fxLayout="row">
            <p fxFlex="40">Artikel-Name:</p>
            <p fxFlex="60">{{ rent.item }}</p>
        </div>

        <div fxFlex="100" fxLayout="row">
            <p fxFlex="40">Ausleihe:</p>
            <p fxFlex="60">{{ rent.rentDate | localeDate }}</p>
        </div>

        <div fxFlex="100" fxLayout="row">
            <p fxFlex="40">Rückgabe:</p>
            <p fxFlex="60"> {{ rent.returnDate | localeDate }}</p>
        </div>

        <div fxFlex="100" fxLayout="row">
            <p fxFlex="40">Verlängerungen: </p>
            <p fxFlex="60">{{ rent.extensions }}</p>
        </div>

    </mat-card>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="primary">Schließen</button>
</div>