<div fxLayout="row">
    <div id="headline">Geräte</div>
        <div fxFlex="80" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px"></div>
        <div fxFlex="20">
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" />
            </mat-form-field>
        </div>
    </div>
    <div>
        <button mat-raised-button (click)="openNewDeviceDialog()"><mat-icon>add</mat-icon>Neues Gerät hinzufügen</button>
    </div>
<div mat-dialog-content>
    <div class="mat-elevation-z2">
        <table mat-table [dataSource]="devices" matSort #sortDevices="matSort">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td mat-cell class="mousePointer" *matCellDef="let row">{{ row.id }}</td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Bezeichnung</th>
                <td mat-cell *matCellDef="let row">{{ row.name }}</td>
            </ng-container>

            <ng-container matColumnDef="mac">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Mac-Adresse</th>
                <td mat-cell *matCellDef="let row">{{ row.mac }}</td>
            </ng-container>

            <ng-container matColumnDef="lastSeen">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Zuletzt online</th>
                <td mat-cell *matCellDef="let row">{{ row.lastSeen | normalDate }}</td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell class="menu-table-column" *matCellDef="let element; let i = index">
                    <button mat-icon-button [matTooltip]="'Löschen'" matTooltipPosition="above" (click)="openDeleteDeviceDialog(element)">
                        <mat-icon class="material-red">delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    <mat-paginator [pageSizeOptions]="[8, 25, 50, 100]"></mat-paginator>
  </div>
</div>

<div mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="primary">Schließen</button>
</div>