#headline {
    font-weight: 500; 
    font-size: 30px;
    margin-top: 10px;
}

table {
    width: 100%;
    margin-top: 20px;
}

mat-paginator {
    margin-bottom: 20px;
}

.mat-column-id {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 10%;
    width: 10%;
}

.mat-column-name {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 25%;
    width: 25%;
}

.mat-column-mac {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 25%;
    width: 25%;
}

.mat-column-lastSeen {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 40%;
    width: 40%;
}

.mat-column-delete {
    width: 5%;
    text-align: center;
}

.material-green { 
    color: rgba(0, 200, 80, 0.80); 
}
  
.material-red { 
    color: rgba(220, 0, 0, 0.80); 
}

.mouse-pointer {
    cursor: pointer;
}
