<mat-grid-list class="main-page-grid-list" cols="12" rows="2" rowHeight="fit">

    <mat-grid-tile [colspan]="6" [rowspan]="1">
        <mat-card id="inventory-mat-card">
            <mat-card-content>
                <div fxLayout="row">
                    <div class="headline" (click)="openRentsOverview()">Ausleihen</div>
                    <div fxFlex="85" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px"></div>
                    <div fxFlex="22">
                        <mat-form-field>
                            <mat-label>Filter</mat-label>
                            <input matInput (keyup)="applyFilterRents($event)" />
                        </mat-form-field>
                    </div>
                </div>
                <div>
                    <table mat-table [dataSource]="rents" matSort #sortRents="matSort">

                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                            <td mat-cell class="mouse-pointer" (click)="openRentDetails(row)" *matCellDef="let row">{{ row.id }}</td>
                        </ng-container>

                        <ng-container matColumnDef="item">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Artikel</th>
                            <td mat-cell class="mouse-pointer" (click)="openRentDetails(row)" *matCellDef="let row">{{ row.item }}</td>
                        </ng-container>

                        <ng-container matColumnDef="user">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nutzer</th>
                            <td mat-cell class="mouse-pointer" (click)="openRentDetails(row)" *matCellDef="let row">{{ row.user }}</td>
                        </ng-container>

                        <ng-container matColumnDef="returnDate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Rückgabe</th>
                            <td mat-cell *matCellDef="let row">{{ row.returnDate | normalDate }}</td>
                        </ng-container>

                        <ng-container matColumnDef="extensions">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Verlängerungen</th>
                            <td mat-cell *matCellDef="let row">{{ row.extensions }}</td>
                        </ng-container>

                        <ng-container matColumnDef="rentDelayed">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let row">
                                <mat-icon *ngIf="row.delayed" class="material-red" [matTooltip]="'Verspätet'" matTooltipPosition="above">error</mat-icon>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="returnItem">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell class="menu-table-column" *matCellDef="let element; let i = index">
                                <button mat-icon-button [matTooltip]="'Zurückgeben'" matTooltipPosition="above" (click)="openReturnItemDialog(element.itemId, element.item)">
                                    <mat-icon class="material-green">reply</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="extendRent">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell class="menu-table-column" *matCellDef="let element; let i = index">
                                <button mat-icon-button [matTooltip]="'Verlängern'" matTooltipPosition="above" (click)="openExtendRentDialog(element.itemId, element.id, element.item)">
                                    <mat-icon>update</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="columnsRents"></tr>
                        <tr mat-row *matRowDef="let row; columns: columnsRents"></tr>
                    </table>
                </div>
            </mat-card-content>
            <mat-card-actions>
                    <mat-paginator [pageSizeOptions]="[6, 10, 20, 50, 100]" #paginatorRents></mat-paginator>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="6" [rowspan]="1">
        <mat-card id="inventory-mat-card">
            <mat-card-content>
                <div fxLayout="row">
                    <div class="headline" (click)="openInventoryOverview()">Inventar</div>
                    <div fxFlex="70" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px"></div>
                    <div fxFlex="20">
                        <mat-form-field>
                            <mat-label>Filter</mat-label>
                            <input matInput (keyup)="applyFilterInventory($event)" />
                        </mat-form-field>
                    </div>
                </div>
                <div>
                    <table mat-table [dataSource]="inventory" matSort #sortInventory="matSort">

                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                            <td mat-cell *matCellDef="let row">{{ row.id }}</td>
                        </ng-container>

                        <ng-container matColumnDef="tag">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>TagID</th>
                            <td mat-cell *matCellDef="let row">{{ row.tagId }}</td>
                        </ng-container>

                        <ng-container matColumnDef="multiple">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                            <td mat-cell *matCellDef="let row">
                                <mat-icon *ngIf="row.numberExisting > 1" matPrefix [matTooltip]="row.numberExisting + ' Artikel vorhanden'" matTooltipPosition="above">dynamic_feed</mat-icon>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Artikel</th>
                            <td mat-cell *matCellDef="let row">{{ row.name }}</td>
                        </ng-container>

                        <ng-container matColumnDef="rent">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Ausgeliehen</th>
                            <td mat-cell *matCellDef="let row">
                                <label *ngIf="row.numberExisting > 1 && row.numberRent > 0 && !row.rent" matPrefix>{{ row.numberRent }}/{{ row.numberExisting }}</label>
                                <mat-icon class="material-green" *ngIf="row.rent" matPrefix>check</mat-icon>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="blocked">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Gesperrt</th>
                            <td mat-cell *matCellDef="let row">
                                <mat-icon class="material-red" *ngIf="row.blocked" matPrefix>privacy_tip</mat-icon>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="rentHistory">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell class="menu-table-column" *matCellDef="let element; let i = index">
                                <button mat-icon-button [matTooltip]="'Historie'" matTooltipPosition="above" (click)="openRentHistoryOverview(element)">
                                    <mat-icon>list_alt</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="editItem">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell class="menu-table-column" *matCellDef="let element; let i = index">
                                <button mat-icon-button [matTooltip]="'Ändern'" matTooltipPosition="above" (click)="openEditItemDialog(element)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="returnItem">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell class="menu-table-column" *matCellDef="let element; let i = index">
                                <button mat-icon-button *ngIf="element.rent && element.numberExisting === 1" [matTooltip]="'Zurückgeben'" matTooltipPosition="above" (click)="openReturnItemDialog(element.id, element.name)">
                                    <mat-icon class="material-green">reply</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="deleteItem">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell class="menu-table-column" *matCellDef="let element; let i = index">
                                <button mat-icon-button [matTooltip]="'Löschen'" matTooltipPosition="above" (click)="openDeleteItemDialog(element)">
                                    <mat-icon class="material-red">delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="columnsInventory"></tr>
                        <tr mat-row *matRowDef="let row; columns: columnsInventory"></tr>
                    </table>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <mat-paginator [pageSizeOptions]="[6, 10, 20, 50]" #paginatorInventory></mat-paginator>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="9" [rowspan]="1">
        <mat-card id="user-mat-card">
            <mat-card-content>
                <div fxLayout="row">
                    <div class="headline" (click)="openUsersOverview()">Nutzer</div>
                    <div fxFlex="90" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px"></div>
                    <div fxFlex="13">
                        <mat-form-field>
                            <mat-label>Filter</mat-label>
                            <input matInput (keyup)="applyFilterUsers($event)" />
                        </mat-form-field>
                    </div>
                </div>
                <div>
                    <table mat-table [dataSource]="users" matSort #sortUsers="matSort">

                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                            <td mat-cell class="mousePointer" *matCellDef="let row">{{ row.id }}</td>
                        </ng-container>

                        <ng-container matColumnDef="firstName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Vorname</th>
                            <td mat-cell *matCellDef="let row">{{ row.firstName }}</td>
                        </ng-container>

                        <ng-container matColumnDef="lastName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nachname</th>
                            <td mat-cell *matCellDef="let row">{{ row.lastName }}</td>
                        </ng-container>

                        <ng-container matColumnDef="role">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Rolle</th>
                            <td mat-cell *matCellDef="let row">{{ row.role }}</td>
                        </ng-container>

                        <ng-container matColumnDef="admin">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Admin</th>
                            <td mat-cell *matCellDef="let row">
                                <mat-icon class="material-green" *ngIf="row.admin" matPrefix>admin_panel_settings</mat-icon>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="approved">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Freigabe</th>
                            <td mat-cell *matCellDef="let row">
                                <mat-icon class="material-green" *ngIf="row.approved" matPrefix>how_to_reg</mat-icon>
                                <mat-icon class="material-red" *ngIf="!row.approved" matPrefix>clear</mat-icon>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="mail">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Mail</th>
                            <td mat-cell *matCellDef="let row">{{ row.mail }}</td>
                        </ng-container>
                        
                        <ng-container matColumnDef="lastSeen">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Letzter Login</th>
                            <td mat-cell *matCellDef="let row">{{ row.lastSeen | normalDate }}</td>
                        </ng-container>

                        <ng-container matColumnDef="userHistory">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell class="menu-table-column" *matCellDef="let element; let i = index">
                                <button mat-icon-button [matTooltip]="'Historie'" matTooltipPosition="above" (click)="openUserHistoryOverview(element)">
                                    <mat-icon>list_alt</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="editUser">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell class="menu-table-column" *matCellDef="let element; let i = index">
                                <button mat-icon-button [matTooltip]="'Ändern'" matTooltipPosition="above" (click)="openEditUserDialog(element)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="deleteUser">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell class="menu-table-column" *matCellDef="let element; let i = index">
                                <button mat-icon-button [matTooltip]="'Löschen'" matTooltipPosition="above" (click)="openDeleteUserDialog(element)">
                                    <mat-icon class="material-red">delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="columnsUsers"></tr>
                        <tr mat-row *matRowDef="let row; columns: columnsUsers"></tr>
                    </table>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <mat-paginator [pageSizeOptions]="[6, 10, 20, 50]" #paginatorUsers></mat-paginator>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="3" [rowspan]="1">
        <mat-card id="devices-mat-card">
            <mat-card-content>
                <div fxLayout="row">
                    <div class="headline" (click)="openDevicesOverview()">Geräte</div>
                    <div fxFlex="100" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px"></div>
                    <div fxFlex="50">
                        <mat-form-field>
                            <mat-label>Filter</mat-label>
                            <input matInput (keyup)="applyFilterDevices($event)" />
                        </mat-form-field>
                    </div>
                </div>
                <div>
                    <table mat-table [dataSource]="devices" matSort #sortUsers="matSort">

                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                            <td mat-cell class="mousePointer" *matCellDef="let row">{{ row.id }}</td>
                        </ng-container>

                        <ng-container matColumnDef="deviceName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Bezeichnung</th>
                            <td mat-cell *matCellDef="let row">{{ row.name }}</td>
                        </ng-container>

                        <ng-container matColumnDef="mac">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Mac-Adresse</th>
                            <td mat-cell *matCellDef="let row">{{ row.mac }}</td>
                        </ng-container>

                        <ng-container matColumnDef="deleteDevice">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell class="menu-table-column" *matCellDef="let element; let i = index">
                                <button mat-icon-button [matTooltip]="'Löschen'" matTooltipPosition="above" (click)="openDeleteDeviceDialog(element)">
                                    <mat-icon class="material-red">delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="columnsDevices"></tr>
                        <tr mat-row *matRowDef="let row; columns: columnsDevices"></tr>
                    </table>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <mat-paginator [pageSizeOptions]="[6, 10, 20, 50]" #paginatorDevices></mat-paginator>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

</mat-grid-list>
