mat-card {
    width: 100%;
    overflow-y: auto;
    display:flex;
    flex-direction: column;
}
  
mat-card-content{
    flex-grow: 1;
    overflow: auto;
}

tr {
    height: 30px !important;
}

.main-page-grid-list {
    height: calc(100% - 1px);
}

.headline {
    font-weight: 500; 
    font-size: 30px;
    margin-top: 10px;
    cursor: pointer;
}

#user-mat-card {
    width: 100%;
}

#inventory-mat-card {
    width: 100%;
}

#rents-mat-card {
    width: 100%;
}

.mat-column-id {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 8%;
    width: 8%;
}

.mat-column-firstName {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 10%;
    width: 10%;
}

.mat-column-lastName {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 10%;
    width: 10%;
}

.mat-column-role {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 7%;
    width: 7%;
}

.mat-column-mail {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 22%;
    width: 30%;
}

.mat-column-admin {
    width: 5%;
    text-align: center;
}

.mat-column-lastSeen {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 15%;
    width: 15%;
}

.mat-column-userHistory {
    width: 5%;
    text-align: center;
}

.mat-column.deleteUser {
    width: 5%;
    text-align: center;
}

.mat-column.editUser {
    width: 5%;
    text-align: center;
}

.mat-column-item {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 15%;
    width: 15%;
}

.mat-column-user {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 20%;
    width: 20%;
}

.mat-column-returnDate {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 20%;
    width: 20%;
}

.mat-column-extensions {
    width: 5%;
    text-align: center;
}

.mat-column-tag {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 20%;
    width: 20%;
}

.mat-column-name {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 20%;
    width: 20%;
}

.mat-column-tag {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 10%;
    width: 10%;
}

.mat-column-multiple {
    width: 3%;
    text-align: center;
}

.mat-column-rent {
    width: 5%;
    text-align: center;
}

.mat-column-blocked {
    width: 5%;
    text-align: center;
}

.mat-column-addDate {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 15%;
    width: 15%;
}

.mat-column-removeDate {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 15%;
    width: 15%;
}

.mat-column-rentHistory {
    width: 5%;
    text-align: center;
}

.mat-column-editItem {
    width: 5%;
    text-align: center;
}

.mat-column-deleteItem {
    width: 5%;
    text-align: center;
}

.mat-column-returnItem {
    width: 5%;
    text-align: center;
}

.mat-column-rentDelayed {
    width: 5%;
    text-align: center;
}

.mat-column-deviceName {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 15%;
    width: 15%;
}

.mat-column-mac {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 10%;
    width: 10%;
}

.mat-column-deleteDevice {
    width: 5%;
    text-align: center;
}

.mat-column-extendRent {
    width: 5%;
    text-align: center;
}

.material-green { 
    color: rgba(0, 200, 80, 0.80); 
}
  
.material-red { 
    color: rgba(220, 0, 0, 0.80); 
}

.mouse-pointer {
    cursor: pointer;
}
