@import '~@angular/material/theming';
@import 'uni-hildesheim-primary-palette.scss';
@import 'uni-hildesheim-secondary-palette.scss';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$uni-hildesheim-primary: mat-palette($uni-hildesheim-primary-palette);
$uni-hildesheim-accent: mat-palette($uni-hildesheim-secondary-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$uni-hildesheim-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$uni-hildesheim-theme: mat-light-theme($uni-hildesheim-primary, $uni-hildesheim-accent, $uni-hildesheim-warn);

$mat-slide-toggle-theme-primary: mat-palette($uni-hildesheim-primary-palette);
$mat-slide-toggle-theme-accent: mat-palette($uni-hildesheim-secondary-palette);
$mat-slide-toggle-theme-warn: mat-palette($mat-red);

$mat-slide-toggle-theme: mat-light-theme($uni-hildesheim-primary, $uni-hildesheim-accent, $uni-hildesheim-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat-slide-toggle-theme($mat-slide-toggle-theme);
