#headline {
    font-weight: 500; 
    font-size: 30px;
    margin-top: 10px;
}

table {
    width: 100%;
    margin-top: 20px;
}

mat-paginator {
    margin-bottom: 20px;
}

.mat-column-id {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 5%;
    width: 5%;
}

.mat-column-tag {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 5%;
    width: 8%;
}

.mat-column-name {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 5%;
    width: 10%;
}

.mat-column-numberExisting {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 5%;
    width: 5%;
    text-align: center;
}

.mat-column-description {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 5%;
    width: 25%;
}

.mat-column-rent {
    width: 5%;
    text-align: center;
}

.mat-column-blocked {
    width: 5%;
    text-align: center;
}

.mat-column-addDate {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 15%;
    width: 15%;
}

.mat-column-removeDate {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 15%;
    width: 15%;
}

.material-green { 
    color: rgba(0, 200, 80, 0.80); 
}
  
.material-red { 
    color: rgba(220, 0, 0, 0.80); 
}

.mouse-pointer {
    cursor: pointer;
}
