<div fxLayout="row">
    <div id="headline">Inventar</div>
        <div fxFlex="80" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px"></div>
        <div fxFlex="11">
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" />
            </mat-form-field>
        </div>
    </div>
<div mat-dialog-content>
    <div class="mat-elevation-z2">
        <table mat-table [dataSource]="inventory" matSort #sortInventory="matSort">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td mat-cell *matCellDef="let row">{{ row.id }}</td>
            </ng-container>

            <ng-container matColumnDef="tag">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>TagID</th>
                <td mat-cell *matCellDef="let row">{{ row.tagId }}</td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Artikel</th>
                <td mat-cell *matCellDef="let row">{{ row.name }}</td>
            </ng-container>

            <ng-container matColumnDef="numberExisting">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Anzahl</th>
                <td mat-cell *matCellDef="let row">{{ row.numberExisting }}</td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Beschreibung</th>
                <td mat-cell *matCellDef="let row">{{ row.description }}</td>
            </ng-container>

            <ng-container matColumnDef="rent">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Ausgeliehen</th>
                <td mat-cell *matCellDef="let row">
                    <label *ngIf="row.numberExisting > 1 && row.numberRent > 0 && !row.rent" matPrefix>{{ row.numberRent }}/{{ row.numberExisting }}</label>
                    <mat-icon class="material-green" *ngIf="row.rent" matPrefix>check</mat-icon>
                </td>
            </ng-container>

            <ng-container matColumnDef="blocked">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Gesperrt</th>
                <td mat-cell *matCellDef="let row">
                    <mat-icon class="material-red" *ngIf="row.blocked" matPrefix>privacy_tip</mat-icon>
                </td>
            </ng-container>

            <ng-container matColumnDef="addDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Hinzugefügt am</th>
                <td mat-cell *matCellDef="let row">{{ row.addDate | normalDate }}</td>
            </ng-container>

            <ng-container matColumnDef="removeDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Entfernt am</th>
                <td mat-cell *matCellDef="let row">{{ row.removeDate | normalDate }}</td>
            </ng-container>

            <ng-container matColumnDef="rentHistory">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell class="menu-table-column" *matCellDef="let element; let i = index">
                    <button mat-icon-button [matTooltip]="'Historie'" matTooltipPosition="above" (click)="openRentHistoryOverview(element)">
                        <mat-icon>list_alt</mat-icon>
                    </button>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="editItem">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell class="menu-table-column" *matCellDef="let element; let i = index">
                    <button mat-icon-button [matTooltip]="'Ändern'" matTooltipPosition="above" (click)="openEditItemDialog(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="returnItem">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell class="menu-table-column" *matCellDef="let element; let i = index">
                    <button mat-icon-button *ngIf="element.rent && element.numberExisting === 1" [matTooltip]="'Zurückgeben'" matTooltipPosition="above" (click)="openReturnItemDialog(element.id, element.name)">
                        <mat-icon class="material-green">reply</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="deleteItem">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell class="menu-table-column" *matCellDef="let element; let i = index">
                    <button mat-icon-button [matTooltip]="'Löschen'" matTooltipPosition="above" (click)="openDeleteItemDialog(element)">
                        <mat-icon class="material-red">delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    <mat-paginator [pageSizeOptions]="[8, 25, 50, 100]"></mat-paginator>
  </div>
</div>

<div mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="primary">Schließen</button>
</div>